
<div class="form-container">
    <h2>Register</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstname">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastname">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Mobile</mat-label>
        <input matInput formControlName="mobile">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>username</mat-label>
        <input matInput formControlName="username">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
          <mat-option value="one">role 1</mat-option>
          <mat-option value="two">role 2</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="passward" type="password">
      </mat-form-field>
      <button mat-raised-button type="submit">Submit</button>
    </form>
    <footer>
        <a href="login"  rel="noopener"> Login  
        </a>
    </footer>
  </div>
  