
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full height of the viewport */
  }
  
  .form-container form {
    width: 300px; /* Adjust the width as needed */
    display: flex;
    flex-direction: column;
  }
  
  .form-container mat-form-field {
    width: 100%;
    margin-bottom: 16px; /* Spacing between form fields */
  }
  
  button {
    align-self: center;
    margin-top: 20px;
  }
  